<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UAW Local 2503 NH TG & POKER</title>
    <!-- Bulma Version 0.9.4-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/stylesheets/showcase.css"
    />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  {% comment %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UAW Local 2503 NH TG & POKER</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  {% endcomment %}

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="img/preloader.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-fixed-top is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#home"> Home </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#about-me"> About Us </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#services"> Services </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#skills"> Skills </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#my-work"> My Work </a>
              </div>
              <div class="navbar-item">
                {% if loggedIn == True %}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {% else %}
                <a href="/login">login</a>
                {% endif %}
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#contact"> Contact </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle">Local</h1>
            <h2 class="title">UAW 2503</h2>
            <h1 class="subtitle profession">
              National Harbor Table Games and Poker
            </h1>
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div
                class="column is-12 hero-menu-desktop has-text-centered is-fixed-top"
              >
                <ul>
                  <li class="is-active">
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#about-me">About Us</a>
                  </li>
                  <li>
                    <a href="#services">Services</a>
                  </li>
                  <li>
                    <a href="#skills">Skills</a>
                  </li>
                  <li>
                    <a href="#my-work">My Work</a>
                  </li>
                  <li>
                    {% if loggedIn == True %}
                    <a href="/dashboard">dashboard</a>
                    <button id="logout" class="btn-no-style">logout</button>
                    {% else %}
                    <a href="/login">login</a>
                    {% endif %}
                  </li>
                  <li>
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <div class="wrapper">
      <header>
        <h1>
          <a href="/">UAW 2503</a>
        </h1>
        <nav>
          {% if loggedIn == True %}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {% else %}
          <a href="/login">login</a>
          {% endif %}
        </nav>
      </header>
      <main>{% block body %}{% endblock %}</main>
      <footer>Thanks for visiting!</footer>
    </div>

    {% if loggedIn %}
    <script src="/javascript/logout.js"></script>
    {% endif %}
  </body>
</html>
